body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialised;
}

h3 {
  font-size: 1.5em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
}

.container p, label {
  font-size: 0.75em;
}

.container .tax-info {
  margin: 50px 0;
}
#tax-amount {
  padding: 5px;
  border-radius: 0;
}

#calculate-tax {
  padding: 7px;
}

table {
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
}

table td, th {
  border: 1px solid #ccb;
  padding: 3px;
}

table th {
  padding: 6px;
  background: #ccc;
}

.tax-info tr.highlighted {
  background: whitesmoke;
}
