body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialised;
}

h3, h4, h5 {
  color: #aaa;
}

h3, label {
  font-size: 1em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
}

.calculator {
  max-width: 700px;
  padding: 30px;
  margin: 50px;
  background: whitesmoke;
  border-radius: 3px;
  margin: 0 auto;
}

.container p, td, li {
  font-size: 0.75em;
}

.container .tax-info {
  margin: 30px 0;
}
#tax-amount {
  padding: 2px;
  border-radius: 0;
}

p.action-statement {
  color: #aaa;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
}

.calc-input {
  max-width: 700px;
}

.calc-input .btn {
  cursor: pointer;
  width: 150px;
  margin: 15px auto 0;
  padding: 5px;
  background: #00a1d3;
  box-shadow: 0 0 10px 0 #00a1d3;
  -webkit-box-shadow: 0 0 10px 0 #00a1d3;
  -mox-box-shadow: 0 0 10px 0 #00a1d3;
  border-color:#00a1d3;
  color: #fff;
}

.calc-input .reset {
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 #fff;
  -mox-box-shadow: 0 0 10px 0 #fff;
  border-color:#fff;
  color: #aaa;
}

.calc-input #calculate-tax:hover {
  opacity: 0.4;
}

.calc-input .reset:hover {
  opacity: 0.6;
}

.calc-input .instructions {
  width: 500px;
  padding: 5px;
  background: rgba(211,211,211,0.4);
  margin: 0 auto 30px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}

.ss-percent {
  color: white;
}

.ss-percent .radio {
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #aaa;
  text-align: center;
  line-height: 30px;
  transition: all 0.5s;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.ss-percent .radio:hover {
  cursor: pointer;
  background: #add8e6;
  color: black;
}

.clicked {
  background: #add8e6 !important;
  color: black;
}

table {
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
}

table td {
  color: #557;
}

table td, th {
  border: 1px solid #00a1d3;
  padding: 3px;
}

table th {
  padding: 6px;
  background: #00a1d3;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

.tax-info tr.highlighted {
  background: #add8e6;
}

.calc-result {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding:10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-bottom: 20px;
}

.calc-result.hidden {
  display: none;
}

.calc-result h3 {
  text-align: center;
}

.calc-result h4 {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.calc-result table {
  width: 80%;
  margin: 0 auto;
}

.calc-result table th {
  width: 70%;
}

.calc-result table td {
  width: 30%;
}

.calc-result .employer {
  margin-bottom: 20px;
}

.net-income, .total-tax, .tax-on-income {
  font-weight: 600;
}
