body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialised;
}

.calculator {
  padding: 10px;
  margin: 10px;
}

h3 {
  font-size: 1.25em;
  color: #aaa;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
}

.container p, label, td {
  font-size: 0.75em;
}

.container .tax-info {
  margin: 30px 0;
}
#tax-amount {
  padding: 2px;
  border-radius: 0;
}

.calc-input {
  max-width: 500px;
}

.calc-input #calculate-tax {
  width: 150px;
  /*display: block;*/
  margin: 10px auto 0;
  padding: 5px;
  background: rgba(255,145,72, 1);
  border-color: rgba(255,145,72, 0.2);
  color: #fff;
}

table {
  text-align: center;
  border-collapse: collapse;
  padding: 5px;
}

table td {
  color: #557;
}

table td, th {
  border: 1px solid #ccb;
  padding: 3px;
}

table th {
  padding: 6px;
  background: #FF9148;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

.tax-info tr.highlighted {
  background: #ffe1b8;
}

.calc-result h3{
  text-align: center;
}

.calc-result table {
  width: 50%;
  margin: 0 auto;
}

.calc-result table th {
  width: 70%;
}

.calc-result table td {
  width: 30%;
}
